<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Database"/>
	</extensions>

	<!-- VARIABLES -->
	<variable name="dbType" value="${configsetting:name=bbdd}" />
	<variable name="mysqlConn" value="${configsetting:name=ConnectionStrings.MySQLConnectionB4Data}" />
	<variable name="pgsqlConn" value="${configsetting:name=ConnectionStrings.PostgresConnectionB4Data}" />

	<!-- TARGETS -->
	<targets>
		<!-- Consola -->
		<target xsi:type="Console"
				name="console"
				layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString}" />

		<!-- Archivo -->
		<target xsi:type="File"
				name="file"
				fileName="${basedir}/logs/log_${shortdate}.log"
				createDirs="true"
				layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=ToString}" />

		<!-- MySQL -->
		<target xsi:type="Database"
				name="mysqlDB"
				dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"
				connectionString="${var:mysqlConn}"
				commandText="INSERT INTO log_actividad
                        (timestamp,nivel,modulo,entrada,IdFicheroExcel,NombreFicheroExcel,iDCarga,DCR_ID_JOB)
                        VALUES
                        (@timestamp,@nivel,@modulo,@entrada,@idExcel,@nombreExcel,@carga,@job)">
			<parameter name="@timestamp" layout="${date}" />
			<parameter name="@nivel" layout="${level}" />
			<parameter name="@modulo" layout="${logger}" />
			<parameter name="@entrada" layout="${message}" />
			<parameter name="@idExcel" layout="0" />
			<parameter name="@nombreExcel" layout="" />
			<parameter name="@carga" layout="0" />
			<parameter name="@job" layout="0" />
		</target>

		<!-- PostgreSQL -->
		<target xsi:type="Database"
				name="pgsqlDB"
				dbProvider="Npgsql.NpgsqlConnection, Npgsql"
				connectionString="${var:pgsqlConn}"
				commandText="INSERT INTO log_actividad
                        (timestamp,nivel,modulo,entrada,IdFicheroExcel,NombreFicheroExcel,iDCarga,DCR_ID_JOB)
                        VALUES
                        (@timestamp,@nivel,@modulo,@entrada,@idExcel,@nombreExcel,@carga,@job)">
			<parameter name="@timestamp" layout="${date}" />
			<parameter name="@nivel" layout="${level}" />
			<parameter name="@modulo" layout="${logger}" />
			<parameter name="@entrada" layout="${message}" />
			<parameter name="@idExcel" layout="0" />
			<parameter name="@nombreExcel" layout="" />
			<parameter name="@carga" layout="0" />
			<parameter name="@job" layout="0" />
		</target>
	</targets>

	<!-- RULES -->
	<rules>
		<!-- Regla MySQL: solo loguea si dbType=MySQL -->
		<logger name="*" minlevel="Info" writeTo="file,console,mysqlDB" FilterDefaultAction="Log">
			<filters>
				<when condition="('${var:dbType}' != 'MySQL')" action="Ignore" />
			</filters>
		</logger>

		<!-- Regla PostgreSQL: solo loguea si dbType=PostgreSQL -->
		<logger name="*" minlevel="Info" writeTo="file,console,pgsqlDB" FilterDefaultAction="Log">
			<filters>
				<when condition="('${var:dbType}' != 'PostgreSQL')" action="Ignore" />
			</filters>
		</logger>

		<!-- Archivo siempre -->
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>

</nlog>