<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<variable name="MySQLConnectionString" value="server=localhost;database=MySQLDB;user=root;password=1234;" />
	<variable name="PostgresConnectionString" value="Host=localhost;Database=PostgresDB;Username=postgres;Password=1234;" />
	
  <!-- Targets: dónde se guardan los logs -->
  <targets>
    <!-- Consola (para desarrollo) -->
    <target xsi:type="Console" name="console" layout="${longdate} | ${level:uppercase=true} | ${message} ${exception:format=ToString}" />

    <!-- Archivo (para persistencia) -->
    <target xsi:type="File" name="file" fileName="logs/app.log"
            layout="${longdate} | ${uppercase:${level}} | ${logger} | ${message} ${exception:format=ToString}" />

	  <!-- Target MySQL -->
	  <target xsi:type="Database" name="MySQLLogger"
			  connectionString="${var:MySQLConnectionString}"
			  dbProvider="MySql.Data.MySqlClient"
			  commandText="INSERT INTO API_LOG_ACTIVIDAD 
                         (MachineName, Logged, Level, Message, Logger, Exception, idAPICall) 
                         VALUES (@machinename,@logged,@level,@message,@logger,@exception,@idapicall);">
		  <parameter name="@machinename" layout="${machinename}" />
		  <parameter name="@logged" layout="${longdate}" />
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@message" layout="${message}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@exception" layout="${exception:tostring}" />
		  <parameter name="@idapicall" layout="0" />
	  </target>

	  <!-- Target PostgreSQL -->
	  <target xsi:type="Database" name="PostgresLogger"
			  connectionString="${var:PostgresConnectionString}"
			  dbProvider="Npgsql"
			  commandText="INSERT INTO API_LOG_ACTIVIDAD 
                         (MachineName, Logged, Level, Message, Logger, Exception, idAPICall) 
                         VALUES (@machinename,@logged,@level,@message,@logger,@exception,@idapicall);">
		  <parameter name="@machinename" layout="${machinename}" />
		  <parameter name="@logged" layout="${longdate}" />
		  <parameter name="@level" layout="${level}" />
		  <parameter name="@message" layout="${message}" />
		  <parameter name="@logger" layout="${logger}" />
		  <parameter name="@exception" layout="${exception:tostring}" />
		  <parameter name="@idapicall" layout="0" />
	  </target>
	  
  </targets>

  <!-- Rules: qué se loguea y dónde -->
  <rules>
	  <!-- Consola y archivo siempre -->
	  <logger name="*" minlevel="Info" writeTo="console,file" />

	  <!-- Logs para base de datos -->
	  <logger name="*" minlevel="Info" writeTo="MySQLLogger,PostgresLogger" />
  </rules>
</nlog>
